.home-wrapper {
  padding: 20px 10px 0;
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.filters {
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  display: flex;

  .filter {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
  }
}