.header-app {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: calc(100% - 30px);
  border-bottom: 1px solid #c3c3c3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 10;

  .container {
    height: 70px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-app {
      height: 90px;
      width: 100px;
      object-fit: contain;
      margin-right: 20px;
    }

    .logo-and-search {
      display: flex;
      align-items: center;
    }

    .btns-wrapper {
      &.flex-end {
        margin-left: auto;
      }

      .mr-10 {
        margin-right: 10px;
      }
    }

    .profile-info-wrapper {
      display: flex;
      align-items: center;

      p {
        margin-right: 1em;
      }
    }
  }

}